<template>
  <div :class="componentClass.root">[FTName]</div>
</template>

<script setup lang="ts">
import { useComponentClass } from '@thomasaull-shared/composables'

export interface Props {
  myProp?: string
}

const props = withDefaults(defineProps<Props>(), {})

const emit = defineEmits<{
  (event: 'example', id: string): void
}>()

const componentClass = useComponentClass()
</script>

<style lang="scss">
.[FTName] {
  $block: &;
}
</style>
