/**
* Mixins and functions for namespacing css variables
* @see: https://dev.to/felipperegazio/css-custom-properties-vars-with-sass-scss-a-practical-architecture-strategy-1m88
*/
@use 'sass:string';

$currentBlockName: 'undefined';

@function getBlockName($block) {
  @return string.slice(#{$block}, 2);
}

// Set the $currentBlock variable to the currently used component name
@mixin setup($block) {
  /* stylelint-disable-next-line scss/function-no-unknown */
  $blockName: getBlockName($block);
  $currentBlockName: $blockName !global;
}

// Define multiple variables
@mixin define($variables) {
  @each $name, $value in $variables {
    --#{$currentBlockName}-#{$name}: #{$value};
  }
}

// Define single variable (useful for overriding single variables)
@mixin defineSingle($name, $property: unset) {
  --#{$currentBlockName}-#{$name}: #{$property};
}

// Retrieve a variable
@function use($name, $fallback: null) {
  /* stylelint-disable-next-line scss/at-if-no-null */
  @if $fallback == null {
    @return var(--#{$currentBlockName}-#{$name});
  } @else {
    @return var(--#{$currentBlockName}-#{$name}, $fallback);
  }
}
