/**
 * Functions for interpolation with clamp
 * @see: https://www.smashingmagazine.com/2022/10/fluid-typography-clamp-sass-functions/
 */
@use 'sass:string';
@use 'sass:math';

$contentMinWidth: 320px !default;
$contentMaxWidth: 1200px !default;

@function px-to-rem($px) {
  $rems: math.div($px, 16px) * 1rem;

  @return $rems;
}

@function round($number, $decimals: 0) {
  $n: 1;

  @if $decimals > 0 {
    @for $i from 1 through $decimals {
      $n: $n * 10;
    }
  }

  @return math.div(math.round($number * $n), $n);
}

// See: https://stackoverflow.com/questions/10369643/rounding-numbers-in-sass-and-adjusting-the-amount-of-decimals
@function roundWithDecimals($value, $fractionDigits: 0) {
  $power: math.pow(10, $fractionDigits);

  @return math.div(math.round($power * $value), $power);
}

@function fluid(
  $min-size,
  $max-size,
  $min-breakpoint: $contentMinWidth,
  $max-breakpoint: $contentMaxWidth,
  $unit: vw
) {
  $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
  /* stylelint-disable-next-line scss/function-no-unknown */
  $slope-to-unit: roundWithDecimals($slope * 100, 2);
  /* stylelint-disable-next-line scss/function-no-unknown */
  $intercept-rem: roundWithDecimals(px-to-rem($min-size - $slope * $min-breakpoint), 2);
  /* stylelint-disable-next-line scss/function-no-unknown */
  $min-size-rem: roundWithDecimals(px-to-rem($min-size), 2);
  /* stylelint-disable-next-line scss/function-no-unknown */
  $max-size-rem: roundWithDecimals(px-to-rem($max-size), 2);

  @return clamp(#{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem});
}
