@mixin visuallyHidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

@mixin truncateText($lines: 0) {
  overflow: hidden;

  @if $lines >= 2 {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@mixin svgIcon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  overflow: visible;
  display: block;

  [id*='.fill'] {
    fill: currentColor;
    stroke: none;
  }

  & * {
    vector-effect: non-scaling-stroke;
  }
}
