/**
* Sources for reset.css
* - https://www.joshwcomeau.com/css/custom-css-reset/
* - https://andy-bell.co.uk/a-modern-css-reset/
* - https://piccalil.li/blog/a-more-modern-css-reset/
* - https://byby.dev/normalize-css
*/

// Border Box Everything
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-text-size-adjust: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

// Remove default padding and list styles
ul,
ol {
  list-style: none;
}

// Remove default margins everywhere
* {
  margin: 0;
}

// Set core body defaults
body {
  min-height: 100vh;
  line-height: 1.5;
  // Smooth scrolling to anchors
  scroll-behavior: smooth;
  // Improve text rendering
  -webkit-font-smoothing: antialiased;
}

// Set shorter line heights on headings and interactive elements
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

// Balance text wrapping on headings
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

// Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

// A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

// Make images easier to work with
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// Default Styles for Buttons
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

// Make sure textareas without a rows attribute are not tiny
textarea:not([rows]) {
  min-height: 10em;
}

// Make b and strong to use bold font
b,
strong {
  font-weight: bold;
}

// Anything that has been anchored to should have extra scroll margin
:target {
  scroll-margin-block: 5ex;
}
