<template>
  <div :class="classes">
    <h1>{{ greeting }}</h1>
    <br />
    <input :value="value" type="text" @input="emitInput" /> {{ value }}
    <br />
    <input :checked="checked" type="checkbox" @input="onInput" />

    <button v-if="action" @click="onAction">Fire action! → {{ action }}</button>
    <button @click="emit('click')">Emit click</button>

    <pre>
modifierClass:
{{ componentClass.propModifier({ name: 'variant' }) }}

modifierClass with element:
{{
        componentClass.propModifier({
          name: 'variant',
          value: props.variant,
          element: 'button',
        })
      }}

modifierClass automatically from prop
{{ componentClass.propModifier({ name: 'variant' }) }}
    </pre>

    xstate:
    <button @click="xstate.send({ type: 'to.default' })">to.default</button>
    <pre>
xstate path: {{ xstate.path.value }}
    </pre>
    Child:
    <ExampleComponentPure :state="xstate.path.value" />
  </div>
</template>

<script setup lang="ts">
import { onMounted, computed } from 'vue'
import { fromPromise } from 'xstate'

import { useComponentClass } from '@thomasaull-shared/composables/src/useComponentClass.ts'
import { useXState } from '@thomasaull-shared/composables/src/useXState.ts'
import { ExampleState } from '@/components/ExampleComponent/ExampleState'
import ExampleComponentPure from '@/components/ExampleComponent/ExampleComponentPure.vue'

export interface Props {
  greeting?: 'Hello' | 'Good Day Sir' | 'Howdy' | 'Bla'
  value?: string
  checked?: boolean
  variant?: 'primary' | 'secondary'
  /** User defined action which fires an event with the same name */
  action?: string
}

export type Emit = {
  addPerson: { name: string; age: number }
}

const props = withDefaults(defineProps<Props>(), {
  variant: 'primary',
})

const emit = defineEmits<{
  (event: 'update:value', value: string): void
  (event: 'update:checked', value: boolean): void
  (event: 'click'): void
  (event: 'addPerson', payload: Emit['addPerson']): void
}>()

const componentClass = useComponentClass({ props })

const xstate = useXState(
  ExampleState.provide({
    actions: {
      blupp: () => {
        console.log('action: blupp')
      },
    },

    actors: {
      fetchSomething: fromPromise(async ({ input }) => {
        console.log('input', input)
        await new Promise((resolve) => setTimeout(resolve, 2_000))
      }),
    },
  }),
  {
    initialState: 'anotherState',
    useInspector: false,
  }
)

const classes = computed(() => {
  return [
    componentClass.root,
    componentClass.propModifier({ name: 'variant', value: props.variant }),
    {
      [componentClass.modifier('anotherOne')]: true,
    },
  ]
})

function emitInput(event: Event) {
  if (!(event.target instanceof HTMLInputElement)) {
    throw new Error('event.target is not HTMLInputEvent')
  }

  emit('update:value', event.target.value)
}

onMounted(() => {
  console.log('onMounted')
})

function onInput(event: Event) {
  if (!(event?.target instanceof HTMLInputElement)) {
    throw new Error('event.target is not a HTMLInputElement')
  }

  emit('update:checked', event.target.checked)
}

function onAction() {
  if (!props.action) return

  // @ts-expect-error Difficult to type
  emit(props.action)
}
</script>

<style lang="scss">
@use '@thomasaull-shared/scss/cssVar' as cssVar;
@use '@/assets/scss/default.scss' as default;

.ExampleComponent {
  $block: &;

  @include cssVar.setup($block);
  @include cssVar.define(
    (
      color: fuchsia,
    )
  );

  padding: 20px;
  outline: 1px solid cssVar.use('color');
  border-radius: 10px;
  border: 1px solid fuchsia;
  border-width: default.fluid(2px, 20px);

  @include default.media('<=700px') {
    border-color: blue;
  }

  &--variantPrimary {
    background-color: rgba(red, 0.1);
  }
}
</style>
