<template>
  <ExampleComponent v-bind="props" />

  Greeting: {{ greeting }}
</template>

<script setup lang="ts">
import ExampleComponent, { type Props as PropsExampleComponent } from './ExampleComponent.vue'

export interface Props extends PropsExampleComponent {}

const props = withDefaults(defineProps<Props>(), {})
</script>
