<template>
  <div :class="componentClass.root">
    <pre>
xstate path: {{ xstate.path.value }}
    </pre>
  </div>
</template>

<script setup lang="ts">
import { toRef } from 'vue'
import { useComponentClass } from '@thomasaull-shared/composables/src/useComponentClass.ts'
import { useXState, type StatePathOrValue } from '@thomasaull-shared/composables/src/useXState.ts'
import { ExampleStatePure } from '@/components/ExampleComponent/ExampleStatePure'

export interface Props {
  state?: StatePathOrValue<typeof ExampleStatePure>
}

const props = withDefaults(defineProps<Props>(), {})

const componentClass = useComponentClass({ props })

const xstate = useXState(ExampleStatePure, {
  useInspector: false,
  syncStateWith: toRef(props, 'state'),
})
</script>

<style lang="scss">
@use '@thomasaull-shared/scss/cssVar' as cssVar;
@use '@/assets/scss/default.scss' as default;

.ExampleComponentPure {
  $block: &;
}
</style>
