<template>
  <div :class="componentClass.root">GenericComponent</div>
</template>

<script setup lang="ts" generic="Type extends 'text' | 'number' | 'date' = 'text'">
import { useComponentClass } from '@thomasaull-shared/composables'

interface Props {
  type: Type
}

const props = withDefaults(defineProps<Props>(), {})

const emit = defineEmits<{
  (event: 'example', id: string): void
}>()

const componentClass = useComponentClass()
</script>

<style lang="scss">
.GenericComponent {
  $block: &;
}
</style>
