<template>
  <div :class="componentClass.root">
    <form ref="elForm" @submit.prevent="onSubmit">
      <input ref="elInput" type="text" />

      <br />
      <br />
      <input type="submit" />
    </form>

    <pre>
invalidMessage: {{ formValidation.invalidMessage }}
    </pre>

    <button @click="checkIfValid">check if valid</button>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useComponentClass } from '@thomasaull-shared/composables/src/useComponentClass.ts'
import { useFormValidation } from '@thomasaull-shared/composables/src/useFormValidation.ts'

export interface Props {
  myProp?: string
}

const props = withDefaults(defineProps<Props>(), {})

const emit = defineEmits<{
  (event: 'example', id: string): void
}>()

const componentClass = useComponentClass()

const elForm = ref<HTMLFormElement>()
const elInput = ref<HTMLInputElement>()
const formValidation = useFormValidation({
  elInput: elInput,
  notAllowed: ref('blupp'),
  validate: ({ value }) => {
    if (value !== 'bla') {
      return 'value must be bla'
    }
  },
})

function onSubmit() {
  console.log('onSubmit')
}

function checkIfValid() {
  const bla = elForm.value?.checkValidity()
  console.log('valid', bla)
}
</script>

<style lang="scss">
.ExampleInput {
  $block: &;
}
</style>
